server {

    listen 8080;

    host    127.0.0.1;
    
    server_name hhhh.com youtube.com www.sahafid.1337.ma;

    error_page 404 /error.html;
    root WWW/;
    
    index inx.html yassne.html ;

    client_max_body_size 10000000000000b;

    location /srcs {
        allow_methods  GET POST DELETE;
        autoindex off;
        upload_enable on;
        upload_store /upload;
        index default.html;
    }
    
    location *.php {
        allow_methods GET POST;
        upload_enable on;
        upload_store /uploads;
        fastcgi_pass ../../Desktop/Webserv/srcs/Conf/cgi/php-cgi;
    }

    location *.py {

        allow_methods GET POST ;
        upload_enable on;
        upload_store /upload;
        fastcgi_pass /usr/bin/python3;
    }

    location /index.html {
        autoindex off;
        upload_enable on;
        upload_store /upload;
        allow_methods  GET POST DELETE;
    }

    location / {
        autoindex on;
        upload_enable on;
        upload_store /WWW/uploads;
    }
}

server {

    listen 8888;

    host    127.0.0.1;
    
    server_name hhhh.com youtube.com www.sahafid.1337.ma;

    error_page 404 /Default.html;
    root WWW/;
    
    index index.hml yassine.hml ;

    client_max_body_size 10000000000000b;

    location /srcs {
        allow_methods  GET POST DELETE;
        autoindex off;
        upload_enable on;
        upload_store /upload;
        index default.html;
    }
    
    location *.php {
        allow_methods GET POST;
        upload_enable on;
        upload_store /upload;
        fastcgi_pass ../../Desktop/Webserv_42/srcs/Conf/cgi/php-cgi;
    }

    location *.py {

        allow_methods GET POST ;
        upload_enable on;
        upload_store /upload;
        fastcgi_pass /usr/bin/python3;
    }

    location /index.html {
        autoindex off;
        upload_enable on;
        upload_store /upload;
        allow_methods  GET POST DELETE;
    }

    location / {
        autoindex on;
        upload_enable on;
        upload_store /WWW/uploads;
    }
}